version: '3.9'
services:
  api:
    build: .
    command: npm run start:dev
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - /app/node_modules
  db:
    image: postgis/postgis:15-3.3
    restart: always
    environment:
      POSTGRES_USER: route_master
      POSTGRES_PASSWORD: password
      POSTGRES_DB: route_master
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
volumes:
  pgdata:
  redisdata:
